* {
    font-family: 'Lato', sans-serif;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 48px;
}

/* Head Section */
.header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}

.head-conatiner{
    margin-left: 240px;
    margin-top: 100px;
}

.head-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.head-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;}


.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;

}

.head-photo {
    margin-top: 50px;
    margin-right: 230px;
    
}
main section{
    margin-bottom: 128px;
}
/* Offer section */
.offer{
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    width: 100%; 
   
}
.offer-container{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space;
    padding-left: 329px;
    
}
.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

span{
    color: #E55473;
}

.offer-descrpition{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.offer-photo{
    margin: 100px 150px;
}

/* Instagram */

.insta-photo{
    margin: 0 200px;
}

.insta-photo img{
    margin: 0 10px;
}

/* Get The Latest Deals */
.deal-container{
    background-image: url('flower-asset/Rectangle\ 9.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: 0 200px; 
    padding-top: 90px;
    
}

.box input[type='text']{
    margin-left: 287px;
    margin-right: 16px;
    margin-bottom: 121px;
    padding: 22px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #FFF;
    border: 0;
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
}

/* Footer */
footer{
    background-color: #111010;
    width: 100%;
    height: 449px ;
}

.f-content{
    color: #FFF;
    text-align: center;
    padding-top: 128px;
}

.f-tiitle{
    font-size: 48px;
    font-weight: 800;
}

.f-paragraph{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;

}

.copy{
    color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;
}